#color {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #7dcdf3;
    border: 1px solid black;
    color:black;
    text-align: center;
    line-height: 100px;
    margin: 5px;
}